<template>
    <div>
        <nav class="navbar navbar-expand-lg navbar-light navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">LIVE Random Talk</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="/chat">LIVE Talk</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/SecondPage" >Question Posting</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Posting" >Posting</a>
                        </li>
                      <li class="nav-item">
                        <a class="nav-link" href="/PrivatePosting" >Private Posting</a>
                      </li>
                    </ul>
                    <form class="d-flex">
                        <input class="form-control me-2" type="search" placeholder="Enter Name" aria-label="Search" v-model="userName" >
                    </form>
                    <button class="btn btn-outline-success" @click="checkUserName">Check</button>
                </div>
            </div>
        </nav>
    </div>
</template>

<script>

export default {
    data(){
        return{
            userName:""
        }
    },
    created(){
        
        this.axios.get('http://'+this.mainServerIP+'/anonymousUser')
            .then(data=>{
                console.log(data);
                this.userName="anonymous"+data.data.annUserId;
                this.checkUserName();
                this.$store.commit('setUserName',this.userName);
                console.log("userName",this.$store.getters.getUserName);
            });
        
    },
    methods:{
        checkUserName(){
            this.$store.commit('setUserName',this.userName);
            console.log("userName",this.$store.getters.getUserName);
        }
    }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.navTitle{
    margin-left:2vw;
}
.ml-auto{
    
}
</style>
