<template>
    <div 
    id="chatMessage"
    >
        <div class="box"  
        v-if="who">
            <!--
            <textarea
            id="textarea"
            v-model=msg
            placeholder="Enter something..."
            rows="1"
            max-rows="6"
            disabled
            >
            </textarea>
            -->
            <div id="textarea" class="alert alert-warning" role="alert">
                {{msg}}
            </div>
        </div>
        <div class="box"
        v-else>
            <div id="userNameBox">
                <div style="text-align:left;">{{userName}}</div>
                <div id="textarea2" class="alert alert-secondary" role="alert">
                    {{msg}}
                </div>
            </div>
            <!--
            <textarea
                id="textarea2"
                v-model=msg
                placeholder="Enter something..."
                rows="1"
                max-rows="6"
                disabled
            >
            </textarea>
            -->
        </div>
    </div>
</template>

<script>

export default {
    data(){
        return{
            msg:''
        }
    },
    props:[
        "message",
        "who",
        "userName"
    ],
    created(){
        this.msg = this.message
    },
    mounted(){
        this.msg = this.message
        var chatBox = document.getElementsByClassName("boxArea");
        console.log(chatBox);
        chatBox[0].scrollTop=chatBox[0].scrollHeight;
    }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

#textarea{
    background-color:rgba(255,255,128,.5);
    float:right;
    word-break:break-all;
    min-width:15vw;
    max-width:35vw;
    margin-left:10vw;
    font-size: 13px;
    text-align:left;

}
#textarea2{
    background-color:rgba(255,255,255,0.5);
    float:left;
    word-break:break-all;
    min-width:15vw;
    max-width:35vw;
    margin-right:10vw;
    font-size: 13px;
    text-align:left;

}
#userNameBox{
    float:left;
}
.box{
    margin:1%;
}



</style>
