<template>
  <div>
    <button class="btn btn-primary" v-on:click="connectServer" style="width:100%">{{connectStuts}}</button>
    <div class="boxArea">
        <div
        v-for="(item, idx) in recvList"
        :key="idx"
        >
            <ChatMessage v-if="item.join===false"
                v-bind:message="item.content" 
                v-bind:who="checkUserName(item.userName)"
                v-bind:userName="item.userName"
            ></ChatMessage>
            <h6 v-else>
                <div v-for="(user, index) in item.users" :key="index">
                  {{user}} 님이 입장하였습니다.
                </div>
            </h6>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-hidden="false">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">저장</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <form class="was-validated">
            <div class="form-floating mb-3">
              <input type="text" class="form-control" id="floatingInput" placeholder="제목을 입력해주세요." v-model="saveTitle" required>
              <label for="floatingInput" placeholder="제목을 입력해주세요.">제목을 입력하세요.</label>
                <div class="invalid-feedback">
                  Please enter a title.
                </div>
            </div>
            <div class="modal-body">
              대화 내용을 저장하시겠습니까???
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" @click="movePage" data-bs-dismiss="modal" >Close</button>
              <button type="submit" class="btn btn-primary" @click="clickModal" data-bs-dismiss="modal">Save</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  <!--
    <b-input-group>
    <template #prepend>
      <b-input-group-text >내용</b-input-group-text>
    </template>
    <b-form-input
        class="input"
        id="inputContent"
        v-model=message
        type="text"
        @keyup="sendMessage">
      </b-form-input>

  </b-input-group>
  -->
  <div class="input-group mb-3">
    <span class="input-group-text" id="basic-addon1">내용</span>
    <input type="text" 
        class="form-control"
        id="inputContent"
        v-model=message
        @keyup="sendMessage">
  </div>

  </div>
</template>

<script>
import Stomp from 'webstomp-client'
import SockJS from 'sockjs-client'
import ChatMessage from './ChatMessage.vue'

import { createToast } from 'mosha-vue-toastify';
import 'mosha-vue-toastify/dist/style.css'
import { Modal } from 'bootstrap';

//import mapState from 'vuex';
export default {
  props:[
      //"userName",
      "selected",
      "tags",
      "selectedTagByTags",
      "roomId_prop",
      "type",
      "recCodeList"
  ],
  components:{
      ChatMessage
  },
  data() {
    return {
        message: "",
        recvList: [],
        roomId:"",
        connected:false,
        connectStuts : "대화 시작",
        returnTags:[],
        connectWithOther:false,
        recvCodeList:[],
        saveTitle:"",
        answer:"",
        question:"",
        userName:""
    }
  },
  created() {
    // App.vue가 생성되면 소켓 연결을 시도합니다.
    //this.connect()
    console.log("roomId_prop2 : "+this.roomId_prop);
    if(this.roomId_prop!=undefined)
      this.connectServer();
    
  },
  mounted() {
      // beforunload : 1.새로고침 시 2. 창 닫을 시 3. 다른 주소로 이동 시
    window.addEventListener('beforeunload', this.unLoadEvent);
    //this.userName =computed(() => this.$store.state.getUserName);
    //console.log("userName2",this.$store.getters.getUserName)
  },
  /*
  beforeUnmount() {
    window.removeEventListener('beforeunload', this.unLoadEvent);
  },*/
  beforeUnmount(){
    console.log("beforeUnmounted")
    this.disconnect();
    const msg = { 
    userName: this.userName,
    content: this.message,
    joinRoom:this.roomId,
    isJoin:false,
    isExit:false,
    msgDate:'2020'
    };
    this.stompClient.send("/webChat/exitUser/"+this.roomId, JSON.stringify(msg), {});
    
  },
  watch:{
    selectedTagByTags(data){
      console.log("box 내의 tag변경 "+data);
    },
    recCodeList(data){
      if (data != ''){
        console.log("recCodeList " +data)
        this.recvCodeList.push(data)
      
        console.log(this.recvCodeList);
      }
    },
  },


  methods: {
    unLoadEvent: function () {
      console.log("unLoadEvent")
      this.disconnect();
      const msg = { 
      userName: this.userName,
      content: this.message,
      joinRoom:this.roomId,
      isJoin:false,
      isExit:false,
      msgDate:'2020'
      };
      this.stompClient.send("/webChat/exitUser/"+this.roomId, JSON.stringify(msg), {});
        
    },
      connectServer(){
          this.returnTags=[];
          for(var i =0;i<this.tags.length;i++){
              console.log(this.tags[i]);
              this.returnTags.push(this.tags[i].text)
          }

          console.log(this.returnTags);
          if (this.connected == false){
            console.log(this.roomId_prop);
            if (this.roomId_prop==undefined){
              console.log("NoNo posting")
              this.axios.post('http://'+this.mainServerIP+'/searchRoomId',
                  {
                      userName:this.userName,
                      whom:this.selected,
                      tags:this.returnTags,
                      roomId:''
                  }
              ).then(res=>{
                  this.roomId = res.data.roomId;
                  console.log('받은 Room ID '+this.roomId);
                  this.$emit('checkingRoomId',this.roomId);

              }).catch();
            }else{
              console.log("Yes posting")
              this.roomId=this.roomId_prop
              this.axios.delete('http://'+this.mainServerIP+'/exit/'+this.roomId
              ).then(
                res=>{
                  console.log(res);
                }
              ).catch();

              
            }
            this.connect();
            this.$emit('editorServer');
          }else{
  
            const msg = { 
                userName: this.userName,
                content: this.message,
                joinRoom:this.roomId,
                isJoin:false,
                isExit:false,
                msgDate:'2020'
                };
            this.stompClient.send("/webChat/exitUser/"+this.roomId, JSON.stringify(msg), {});
            this.disconnect();

          }
      },
    checkUserName(sendsUser){
        if(this.userName == sendsUser){
            return true;
        }else{
            return false;
        }
    },
    sendMessage (e) {
      if(e.keyCode === 13 && this.userName !== '' && this.message !== ''){
        this.send()
        this.message = ''
      }
    },    
    send() {
      console.log("Send message:" + this.message);
      if (this.stompClient && this.stompClient.connected) {
        const msg = { 
          userName: this.userName,
          content: this.message,
          joinRoom:this.roomId,
          isJoin:false,
          isExit:false,
          msgDate:'2020'
        };
        this.stompClient.send("/webChat/receive/"+this.roomId, JSON.stringify(msg), {});
      }
    },    
    connect() {
      this.userName = this.$store.state.userName;
      this.saveTitle="";
      this.recvList=[];
      this.recvCodeList=[];
      const serverURL = 'http://'+this.mainServerIP+'/webChat'
      let socket = new SockJS(serverURL);
      this.stompClient = Stomp.over(socket);
      console.log(`소켓 연결을 시도합니다. 서버 주소: ${serverURL}`)
      this.stompClient.connect(
        {},
        frame => {
          // 소켓 연결 성공
          this.connected = true;
          this.connectStuts="대화 종료"
          console.log('소켓 연결 성공', frame,this.connected);
          console.log(this.connected)
                      // toast 출력


          // 해당 Room에 접속한 유저 정보 받아오기
          this.axios.get('http://'+this.mainServerIP+'/enterUsersInfo/'+this.roomId+'/'+this.userName).then().catch();


          // 서버의 메시지 전송 endxpoint를 구독합니다.
          // 이런형태를 pub sub 구조라고 합니다.
          this.stompClient.subscribe("/webChat/send/"+this.roomId, res => {
            console.log('구독으로 받은 메시지 입니다.', res.body);

            // 받은 데이터를 json으로 파싱하고 리스트에 넣어줍니다.
            this.recvList.push(JSON.parse(res.body))
            console.log(this.recvList)
            this.alertMessage();
          });
          this.stompClient.subscribe("/webChat/enterRoomUserInfo/"+this.roomId,res =>{
              console.log('enter User Info 구독 메세지',res.body);
              //this.recvList.push(JSON.parse(res.body))
              this.axios.get('http://'+this.mainServerIP+'/enterUsers/'+this.roomId).then( res=>{
                this.recvList=[];
                this.recvList.push(res.data);
                if (res.data.users.length>=2){      // 해당 room에 2명이상일 경우
                  // 토스트 발생
                  createToast('상대방과 연결되었습니다.',
                  {
                  position: 'top-right',
                  type: 'success',
                  });
                  this.alertConnect()
                  if(this.selected=="question")
                  {
                    this.question = res.data.users[0]
                    this.answer = res.data.users[1]
                  }else{
                    this.question = res.data.users[1]
                    this.answer = res.data.users[0]
                  }
                  this.connectWithOther=true;
                  if (this.roomId_prop != undefined){
                    this.axios.delete('http://'+this.secondServerIP+'/v1/Question',{data:{
                        title:'',
                        context:'',
                        roomId:this.roomId_prop,
                        mkUser:this.userName,
                        tags:[]

                      }}).then(
                        res=>{
                            console.log(res.data);
                            
                        }
                    ).catch();
                  }
                }
              }).catch();
              
          });
          this.stompClient.subscribe("/webChat/exitRoomUserInfo/"+this.roomId,res =>{
              console.log('exit User Info 구독 메세지',res.body);
              this.disconnect();
          });
          this.$emit('connectMarkdownEditor',this.roomId,this.stompClient);
          const msg={
          userName: this.userName,
          content: this.message,
          joinRoom:this.roomId,
          isJoin:false,
          isExit:false,
          msgDate:'2020'
          }
          this.stompClient.send("/webChat/joinUser/"+this.roomId, JSON.stringify(msg), {});
          document.getElementById("inputContent").focus();
        },
        error => {
          // 소켓 연결 실패
          console.log('소켓 연결 실패', error);
          this.disconnect()
          this.connectStuts="대화 시작"
        }
      );        
    },
    disconnect(){
        console.log("show Modal")
        console.log(this.connected)
        console.log(this.connectWithOther)
        if (this.connected == true){
            this.$emit('disConneteditorServer')
            if (this.connectWithOther==true){
              createToast('상대방과 대화가 종료되었습니다..',
              {
                position: 'top-right',
                type: 'danger',
              });

              var myModal = new Modal(document.getElementById('exampleModal'), {})
              console.log(this.tags)
              myModal.show()
              this.connectWithOther= false
            }else{
              createToast('대화 시도를 종료하였습니다. 대화 시작 버튼을 눌러주세요.',
              {
                position: 'top-right',
                type: 'warning',
              });
            }
            // 대화 종료 시 저장 여부 확인

            this.connected=false;
            this.returnTags=[];
            for(var i =0;i<this.tags.length;i++){
                console.log(this.tags[i]);
                this.returnTags.push(this.tags[i].text)
            }
            console.log('disconnect')
            this.axios.post('http://'+this.mainServerIP+'/exit',
                {
                    userName:this.userName,
                    whom:this.selected,
                    tags:this.returnTags,
                    roomId:this.roomId
                }
            ).then().catch();

            
            this.stompClient.disconnect();
            this.connectStuts="대화 시작"
        }
    },
    alertConnect(){
      if(document.hidden){
        console.log(require('@/sound/newChat.mp3'))
        var audio = new Audio(require('@/sound/newChat.mp3'))
        audio.play()
        console.log('hidden')
      }
    },
    alertMessage(){
            if(document.hidden){
        var audio = new Audio(require('@/sound/newMessage.mp3'))
        audio.play()
      }
    },
    clickModal(){
      if (this.saveTitle =="")
      {
        createToast('제목을 입력해주세요.',
        {
          position: 'top-right',
          type: 'danger',
        });
      }else{
        console.log("saveTitle : "+this.saveTitle)
        console.log("xclickModal")
        console.log(JSON.parse(JSON.stringify(this.recvList)))
        console.log(this.tags);
        let sendTag =[];
        for(var i =0;i<this.tags.length;i++)
        {
          if (typeof this.tags[i].text != "undefined"){
            console.log(this.tags[i].text);
            sendTag.push(this.tags[i].text);
          }else{
            console.log(this.tags[i]);
            sendTag.push(this.tags[i]);
          }
        }
        if (this.tags.length ==0)
        {
          sendTag.push('ALL');
        }
        console.log(sendTag);
        var json = {
            "roomInfo":{
              "roomId":this.roomId,
              "tags":sendTag,
              "title":this.saveTitle
            },
            "chatMessageList": JSON.parse(JSON.stringify(this.recvList)),
            "codeMessageList": JSON.parse(JSON.stringify(this.recvCodeList)),
            "answer":this.answer,
            "question":this.question
        }
        console.log(json);
        console.log(this.tags);
        this.axios.post('http://'+this.thirdServerIP+'/v1/sendMessage',json
        ).then(

        ).catch(
            res=>{
            console.log(this.recvList);
            console.log(this.recvCodeList);
            console.log(res);
          }
        );

        setTimeout(10000);
        if (this.roomId_prop!= undefined){
          // 등록된 게시글 삭제
          console.log(this.roomId_prop);

          this.$router.push('SecondPage');
        }
      }
    },
    movePage(){
        if (this.roomId_prop!= undefined){
          // 등록된 게시글 삭제
          console.log(this.roomId_prop);

          this.$router.push('SecondPage');
        }
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.boxArea{
    height:58vh;
    overflow:auto;
    background-color:rgb(255,255,255);
    box-shadow: 2px 2px 2px 1px rgba(120, 120, 120, 1.0);
}

.btn{
  box-shadow: 2px 2px 2px 1px rgba(120, 120, 120, 1.0);
  margin-bottom:1%;
}

.input-group{
  box-shadow: 2px 2px 2px 1px rgba(120, 120, 120, 1.0);
}

</style>
