<template>
    <CodeEditor class="editBox" ref="codeEdit" lineNumbers=true font_size="12px" v-model="code" :language_selector="true" :languages="[['javascript', 'JS'],['python', 'Python'],['java','JAVA']]" width="48vw" height="60vh"></CodeEditor>
    
</template>

<script>
import CodeEditor from 'simple-code-editor';
export default {
    props:[
      'recvCode',
      'recvMark',
      'recvUser'
    ],
    data(){
      return{
        code:''
      }
    },
    components: {
      CodeEditor
    },
    watch:{
      recvCode(val){
        console.log("watch : "+val);
        this.code = val;
      },
      recvMark(val)
      {
        this.$refs.codeEdit.mark = val;
      }
    }
}
</script>

<style scoped>
.btn{
  margin:1%;
  width:35vw;
}

.editBox{
  box-shadow: 2px 2px 2px 1px rgba(120, 120, 120, 1.0);
}

</style>
