<template>
    <div id="firstPage">
        <div>
            <notiBox class="noti" v-bind:who="selected" v-on:clickTagByLink="insertTagToInput"></notiBox>
            <hr>
            <div v-if="fromByPosting">
                <QuestionItem v-bind:title="title" v-bind:context="context" v-bind:roomId="roomId" v-bind:userName="mkUser"></QuestionItem>
            </div>
            <div v-else>
                <div style="display:flex;">
                
                    <div id ="radioGroup" > 
                        <input type="radio" class="btn-check" name="options" id="options2" autocomplete="off" v-model="selected" value="question" @change="selectQuestionRadio" :disabled="connectServer==1">
                        <label class="btn btn-outline-primary" for="options2" >질문</label>
                        <input type="radio" class="btn-check" name="options" id="options1" autocomplete="off" v-model="selected" value="answer" @change="selectAnswerRadio" :disabled="connectServer==1">
                        <label class="btn btn-outline-primary" for="options1" >대답</label>
                    </div>
                    <!--
                    <b-form-radio-group id="radioGroup" buttons name="radios-btn-default">
                        <b-form-radio class="radioBtn" v-model="selected"  name="answer" value="answer" @change="selectAnswerRadio" >대답</b-form-radio>
                        <b-form-radio class="radioBtn" v-model="selected"  name="question" value="question" @change="selectQuestionRadio">질문</b-form-radio>
                    </b-form-radio-group>
                    -->
                    <Tag class="tagBox" v-on:returnTags="changedTags" v-bind:connectServer="connectServer"></tag>
                </div>

            </div>
        </div>
        <hr>
        <div id = "flex">
            <div class="chatArea">
                <chatBox 
                    v-bind:userName="userName"
                    v-bind:selected="selected"
                    v-bind:tags="tags"
                    v-bind:selectedTagByTags="selectedTag"
                    v-bind:roomId_prop="roomId_prop"
                    v-bind:type="type"
                    v-bind:recCodeList ="recList"
                    v-on:editorServer="connectEditServer"
                    v-on:disConneteditorServer="disConneteditorServer"
                    v-on:checkingRoomId="checkRoomid"
                ></chatBox>
            </div>
            <div class="codeBlockArea">
                <editor v-bind:recvCode="code" v-bind:recvMark="mark" ></editor>
                <sidebar v-on:sendMessage="sendCodeMessage" v-bind:connectServer="connectServer"></sidebar>
            </div>

        </div>
        <v-tour name="FirstPageTour" :steps="steps" :options="options"></v-tour>
    </div>
</template>

<script>

import chatBox from './ChatBox.vue'
import notiBox from './NotiBox.vue'
import Tag from './TagInput.vue'
import editor from './CodeEditor.vue'
import sidebar from './SidebarForCode.vue'
import QuestionItem from '@/components/secondPage/QuestionItem.vue'
//mark down


import Stomp from 'webstomp-client'
import SockJS from 'sockjs-client'

export default {
    data(){
        return{
            userNameText:"anou",
            selected:"question",
            tags:[],
            clickTag:[],
            recList:"",
            editorText: '',
            roomId:'',
            code:'',
            mark:'',
            selectedTag:'',
            validated:false,
            fromByPosting:false,
            title:'',
            context:'',
            mkUser:'',
            connectServer:false,
            steps: [
                {
                    target: '.noti',  // We're using document.querySelector() under the hood
                    header: {
                    title: 'Tag 목록',
                    },
                    content: '질문자/대답자에 따라 상대방이 등록한<br/>Tag목록(갯수)를 확인 할 수 있습니다.'
                },
                {
                    target: '#radioGroup',  // We're using document.querySelector() under the hood
                    header: {
                    title: '상태 설정',
                    },
                    content: '본인이 질문자 인지? 대답자 인지? '
                },
                {
                    target: '.tagBox',  // We're using document.querySelector() under the hood
                    header: {
                    title: 'Tag 설정',
                    },
                    content: `같은 Tag를 설정한 사람끼리 매칭<br/>
                    여러개 입력 가능하며 1개라도 맞으면 매칭됨`
                },
                {
                    target: '.chatArea',  // We're using document.querySelector() under the hood
                    header: {
                    title: '채팅방',
                    },
                    content: `상태/Tag 입력 후 '대화 시작' 클릭시 대화시작<br/>
                    기본값:상태(질문),Tag(null))`
                },
                {
                    target: '.codeBlockArea',  // We're using document.querySelector() under the hood
                    header: {
                    title: '코드 공유',
                    },
                    content: `작성한 코드를 상대방에게 공유<br/>
                    'Create Code' 버트 클릭 후 작성<br/>
                    상대방과 매칭된 후부터 사용 가능`
                }
            ],
            options: {
                highlight: true
            }
        
  
        }
    },
  components:{
      chatBox,
      notiBox,
      Tag,
      editor,
      sidebar,
      QuestionItem
  },
  methods:{
      sendCodeMessage(codeMsg,codeMark){
        if (this.stompClient && this.stompClient.connected){
            const msg = { 
                userName: this.userName,
                content: codeMsg,
                mark: codeMark
                };
            this.stompClient.send("/webMark/receiveMarkdown/"+this.roomId, JSON.stringify(msg), {})
        }
      },
      disConneteditorServer(){
          this.connectServer=false;
      },
      connectEditServer(){
        this.recList=[]
        console.log("coonect editor server");
        const serverURL = 'http://'+this.mainServerIP+'/webMark'
        let socket = new SockJS(serverURL);
        this.stompClient = Stomp.over(socket);
        console.log(`소켓 연결을 시도합니다. 서버 주소: ${serverURL}`)
        this.stompClient.connect(
            {},
            frame => {
            // 소켓 연결 성공
                console.log('소켓 연결 성공', frame);
                this.stompClient.subscribe("/webMark/sendMarkdown/"+this.roomId, res => {
                    console.log('구독으로 받은 메시지 입니다.', res.body);

                    // 받은 데이터를 json으로 파싱하고 리스트에 넣어줍니다.
                    this.code = JSON.parse(res.body).content;
                    this.mark = JSON.parse(res.body).mark;
                    this.recList=(JSON.parse(res.body));
                    console.log(this.recList);
                });    
            }, error => {
            // 소켓 연결 실패
            console.log('소켓 연결 실패', error);
            }
        );
        this.connectServer=true;    
      },
      checkRoomid(room){
          this.roomId=room
      },
      selectQuestionRadio(){
        console.log(this.selected);
        console.log(this.clickTag);
        this.clickTag=[];
        console.log("tag 초기화");
        this.axios.get('http://'+this.mainServerIP+'/question/labelList')
            .then(data=>{
                for(var i =0;i<data.data.length;i++){
                    this.clickTag.push(data.data[i]);
                }
            });

        console.log(this.clickTag);
      },
      selectAnswerRadio(){
          console.log(this.selected);
        console.log(this.clickTag);
        this.clickTag=[];
        console.log("tag 초기화");
        this.axios.get('http://'+this.mainServerIP+'/answer/labelList')
            .then(data=>{
                for(var i =0;i<data.data.length;i++){
                    this.clickTag.push(data.data[i]);
                }
            });

        console.log(this.clickTag);
      },
      insertTagToInput(tag){
        console.log("상위 컴포넌트 : "+tag);
        
      },
      checkChatName(){
          console.log(this.userNameText);
      },
      changedTags(tags){
          console.log('상위');
          console.log(tags);
          this.tags=tags;
      },
      clickTagByLink(tag){
        console.log("상위 컴포넌트 : "+tag);
        this.selectedTag = tag;
      }
  },
  props:[
      "userName",
      "roomId_prop",
      "type"
  ],
  created(){
      console.log("userName: "+this.userName);
      console.log("roomId: "+this.roomId_prop);
      this.roomId = this.roomId_prop;
      if(this.type!=undefined){
          this.selected=this.type
          this.fromByPosting = true;
          this.tags = 
        this.axios.get('http://'+this.secondServerIP+'/v1/questionByRoomId/'+this.roomId).then(
            res=>{
                console.log(res.data.title);
                this.title = res.data.title;
                this.context = res.data.context;
                this.mkUser = res.data.mkUser;
                this.tags = res.data.tags;
                console.log("tags")
                console.log(this.tags)
            }
        ).catch();
      }
  },
  watch:{
      roomId(){
          console.log("watch: "+this.roomId);
      },
      recList(){
          console.log("firstPage")
          console.log(this.recList)
      }
  },
    mounted: function () {
        const sessionName= "firstTour"
        console.log(this.$storage.hasKey(sessionName))
        console.log(this.$storage.getStorageSync(sessionName))
        if(this.$storage.getStorageSync(sessionName) == false || this.$storage.hasKey(sessionName) == false){
            this.$tours['FirstPageTour'].start()
        }
        this.$storage.setStorageSync(sessionName, true);
    }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
#flex{
    display:flex;
    justify-content:center;
    margin:10px
}
.chatArea{
    width:48vw;
    height:64vh;

    
    
}
.codeBlockArea{
    width:48vw;
    height:50vh;

    margin:1%;
}


#radioGroup{
    width:10vw;
    max-height:3.4xvw;
    margin:1%;
}

.htmlParse{
    height:38vh;
    overflow:auto;
}

#sendMarkDownBtn{
    width:48vw;
}

input[type="radio"] {
    background-color: initial;
    cursor: default;
    appearance: auto;
    box-sizing: border-box;
    margin: 3px 3px 0px 5px;
    padding: initial;
    border: initial;
    display:none;
}

#firstPage{
    margin-left:1%;
    margin-right:1%;
    margin-top:0.5%;
    
}
</style>
