<template>
    <div
        id="tagNav" 
    >
        <ul class="nav">
            <div v-for="(item,index) in items" :key="index">
                <li class="nav-item" v-if="item.size!==0" @click="linkClick(item.tag)">
                    <a class="nav-link active" aria-current="page" href="#">{{item.tag}}({{item.size}})</a>
                </li>
            </div>
        </ul>
    </div>
</template>

<script>

export default {
    data(){
        return{
            items:[]
        }
    },
    props:[
        "who"
    ],
    created(){
        this.getAnswerTags();

    },
    mounted(){
        setInterval(this.getAnswerTags,1000);
    },
    methods:{
        linkClick(tag){
            console.log("clickLink :"+tag);
            this.$emit('clickTagByLink',tag);
        },
        getAnswerTags(){
            if (this.who == "answer"){
                this.items=[]
                this.axios.get('http://'+this.mainServerIP+'/question/labelList')
                .then(data=>{
                    for(var i =0;i<data.data.length;i++){
                        this.items.push(data.data[i]);
                    }
                });
            }else{
                this.items=[]
                this.axios.get('http://'+this.mainServerIP+'/answer/labelList')
                .then(data=>{
                    for(var i =0;i<data.data.length;i++){
                        this.items.push(data.data[i]);
                    }
                });
            }
        }
    }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
#tagNav{
    align-content:center;
    height:9vh;
    overflow:auto;
    background-color:rgb(255,255,255);
    box-shadow: 2px 2px 2px 1px rgba(120, 120, 120, 1.0);
}
</style>
