<template>
    <button id="sidebarID" class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample" :disabled="connectServer==0">
    Create Code
    </button>

    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasExampleLabel">Others Code</h5>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <CodeEditor ref="codeEdit" font_size="12px" v-model="code" :language_selector="true" :languages="[['javascript', 'JS'],['python', 'Python'],['java','JAVA'],['cpp', 'C++'],['c','C'],['php', 'PHP']]" width="48vw" height="80vh"></CodeEditor>
            <button class="btn btn-primary" @click="clickSendCodeBtn" data-bs-toggle="offcanvas">send Code</button>
        </div>
    </div>

</template>

<script>
import CodeEditor from 'simple-code-editor';
export default {
    props:[
        "client",
        "connectServer"
    ],
    data(){
        return{
            code:''
        }
    },
    components:{
        CodeEditor
    },
    methods:{
        clickSendCodeBtn(){
            this.$emit('sendMessage',this.code,this.$refs.codeEdit.mark);
        }
    }
}

</script>

<style scoped>
.offcanvas {
width : 50vw !important;
}
.btn{
  margin:1%;
  width:10vw;
  box-shadow: 2px 2px 2px 1px rgba(120, 120, 120, 1.0);
}

#sidebarID{
    width:47vw;
}
</style>
