<template>
  <div>
    <vue-tags-input
    class="tagInput"
    style ="background-color:white;"
      v-model="tag"
      :tags="tags"
      @tags-changed="newTags"
      :disabled = "connectServer===1"
    />
    <span style = " font-size:0.8em;"> &nbsp;&nbsp;&nbsp;&nbsp;Tag 입력 후 Enter를 눌러주세요. 대화 시작 후 수정 불가</span>
  </div>
</template>

<script>
import VueTagsInput from '@sipec/vue3-tags-input';

export default {
  components: {
    VueTagsInput,
  },
  props:[
    "connectServer"
  ],
  data() {
    return {
      tag: '',
      tags: [],
    };
  },
  methods:{
      newTags(tag){
        this.tags=tag;
        this.$emit('returnTags',this.tags);
      }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
