<template>
    <div class="modal fade" id="viewModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="false">
        <div class="modal-dialog modal-fullscreen">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel" v-bind:text="modalTitle">{{modalTitle}}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class ="body"
                    v-for="(item, idx) in content"
                    :key="idx"
                    >
                        <ChatMessage 
                            v-if="item.isChat===true"
                            v-bind:message="item.content" 
                            v-bind:who="checkUser(item.userName)"
                            v-bind:userName="item.userName"
                        ></ChatMessage>
                        <div v-if="item.isCode===true">
                            {{item.userName}}
                            <CodeEditor
                                class="codeEdit"
                                v-model="item.content" 
                                :language_selector="false" 
                                :languages="[['javascript', 'JS'],['python', 'Python'],['java','JAVA']]" 
                                width="80vw"
                                font_size="12px"
                            ></CodeEditor>
                            <br>
                        </div>

                    </div>
                    
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" @click="clickPlus"> +</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" @click = "closeModal">Close</button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import { Modal } from 'bootstrap';
import ChatMessage from '@/components/ThridPage/ChatMessage.vue'
import CodeEditor from 'simple-code-editor'
export default{
    components:{
        ChatMessage,
        CodeEditor
    },
    props:[
        "roomId",
        "modalShow"
    ],
    data(){
        return{
            viewTags:"",
            modalTitle:1,
            content:[],
            answer:"",
            question:""
        }
    },
    mounted(){
        console.log("mounted ", this.roomId)
        this.showModal()
    },
    methods:{
        showModal(){
            this.getPostContent()
            var modalDoc = document.getElementById('viewModal')
            var myModal = new Modal(modalDoc)

            myModal.show()
        },
        async getPostContent(){
            this.content=[]
            let res = await this.axios.get('http://'+this.thirdServerIP+'/v1/contentByRoomId/'+this.roomId)
            console.log(res.data)
            this.modalTitle = res.data.roomInfo.title
            console.log(this.modalTitle)
            //title
            var modalDoc = document.getElementById('viewModal')
            var modalTitle = modalDoc.querySelector('.modal-title')
            modalTitle.textContent = res.data.roomInfo.title
            this.answer = res.data.answer
            this.question = res.data.question
            //body
            var chatLen=0;
            var codeLen=0;
            console.log("merge")
            console.log(res.data.chatMessageList)
            console.log(res.data.codeMessageList)
            console.log(res.data.chatMessageList.length < chatLen)
            while(res.data.chatMessageList.length > chatLen && res.data.codeMessageList.length > codeLen){

                if(res.data.chatMessageList[chatLen].msgDate < res.data.codeMessageList[codeLen].msgDate){
                    res.data.chatMessageList[chatLen].isChat=true
                    this.content.push(res.data.chatMessageList[chatLen])
                    console.log(res.data.chatMessageList[chatLen])
                    chatLen++
                }else{
                    res.data.codeMessageList[codeLen].isCode=true
                    this.content.push(res.data.codeMessageList[codeLen])
                    console.log(res.data.codeMessageList[codeLen])
                    codeLen++
                }
                console.log(chatLen,codeLen)
                console.log(res.data.chatMessageList.length > chatLen , res.data.codeMessageList.length > codeLen)
            }
            console.log(res.data.chatMessageList.length , chatLen)
            if(res.data.chatMessageList.length == chatLen ){
                for(var i = codeLen;i<res.data.codeMessageList.length;i++)
                {
                    res.data.codeMessageList[i].isCode=true
                    this.content.push(res.data.codeMessageList[i])
                    console.log(res.data.codeMessageList[i])
                }
            }else{
                for(var j = chatLen;j<res.data.chatMessageList.length;j++)
                {
                    res.data.chatMessageList[j].isChat=true
                    this.content.push(res.data.chatMessageList[j])
                    console.log(res.data.chatMessageList[j])
                }
            }
            console.log(this.content)
            
        },
        clickPlus(){
            this.getPostContent()
            
        },
        closeModal(){
            console.log('close1')
            this.$emit('closeModal')
        },
        checkUser(user)
        {
            if (user == this.question)
            {
                return false
            }else{
                return true
            }
        }
    }
}

</script>

<style scoped>
.body{
    display: flex;
}
.codeEdit{
    width:70vw;
}
</style>
