<template>
    <tr @click = "clickEvent">
    <th scope="row">{{row}}</th>
    <td>{{title}}</td>
    <td>{{viewTags}}</td>
    <td>{{users}}</td>
    </tr>
    
    <ItemModal ref="modalComp" v-if = "modalShow" v-on:closeModal="closeModal" v-bind:roomId="row" v-bind:status="modalShow"/>
    <!--
    <div class="modal fade" id="viewModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" >
        <div class="modal-dialog modal-fullscreen">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">{{modalTitle}}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <ChatMessage/>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" @click="clickPlus"> +</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    -->
</template>

<script>
//import { Modal } from 'bootstrap';
import ItemModal from '@/components/ThridPage/ItemModal.vue'

export default{
    components:{
        ItemModal
    },
    props:[
        "row",
        "title",
        "tags",
        "users"
    ],
    data(){
        return{
            viewTags:"",
            modalTitle:1,
            content:[],
            modalShow:false,
        }
    },
    mounted(){
        console.log(this.row)
        console.log(this.title)
        console.log(this.tags)
        console.log(this.users)
        console.log(this.tags.length)
        for(let i =0;i<this.tags.length;i++)
        {
            console.log(this.tags[i])
            this.viewTags = this.viewTags+" #"+this.tags[i]
        }  
        console.log(this.viewTags)
    },
    methods:{
        clickEvent(){
            console.log('click');
            console.log(this.row)
            console.log(this.title)
            console.log(this.tags)
            console.log(this.users)
            //var modalDoc = document.getElementById('viewModal')
            //var myModal = new Modal(modalDoc)


            //myModal.show()
            //this.getPostContent()
            //myModal.handleUpdate()
            this.modalShow = true
            console.log("")
        },
        async getPostContent(){
            this.content=[]
            let res = await this.axios.get('http://'+this.thirdServerIP+'/v1/contentByRoomId/'+this.row)
            console.log(res.data)
            this.modalTitle = res.data.roomInfo.title
            console.log(this.modalTitle)
            //title
            var modalDoc = document.getElementById('viewModal')
            var modalTitle = modalDoc.querySelector('.modal-title')
            modalTitle.textContent = res.data.roomInfo.title



            //body
            var chatLen=0;
            var codeLen=0;
            console.log("merge")
            console.log(res.data.chatMessageList)
            console.log(res.data.codeMessageList)
            console.log(res.data.chatMessageList.length < chatLen)
            while(res.data.chatMessageList.length > chatLen && res.data.codeMessageList.length > codeLen){

                if(res.data.chatMessageList[chatLen].msgDate < res.data.codeMessageList[codeLen].msgDate){
                    this.content.push(res.data.chatMessageList[chatLen])
                    console.log(res.data.chatMessageList[chatLen])
                    chatLen++
                }else{
                    this.content.push(res.data.codeMessageList[codeLen])
                    console.log(res.data.codeMessageList[codeLen])
                    codeLen++
                }
                console.log(chatLen,codeLen)
                console.log(res.data.chatMessageList.length > chatLen , res.data.codeMessageList.length > codeLen)
            }
            console.log(res.data.chatMessageList.length , chatLen)
            if(res.data.chatMessageList.length == chatLen ){
                for(var i = codeLen;i<res.data.codeMessageList.length;i++)
                {
                    this.content.push(res.data.codeMessageList[i])
                    console.log(res.data.codeMessageList[i])
                }
            }else{
                for(var j = chatLen;j<res.data.chatMessageList.length;j++)
                {
                    this.content.push(res.data.chatMessageList[j])
                    console.log(res.data.chatMessageList[j])
                }
            }
            console.log(this.content)

            var modalBody = modalDoc.querySelector('.modal-body')
            modalBody.innerHTML = modalBody.innerHTML+"<ChatMessage v-bind:message=\"content[0].content\" v-bind:who=\"content[0].userName\" v-bind:userName=\"content[0].userName\"></ChatMessage> <h2>TEST</h2>"
            
        },
        clickPlus(){
            this.getPostContent()
            
        },
        closeModal(){
            console.log('close Modal')
            this.modalShow=false;
            console.log(this.modalShow)
        }
    }
}

</script>

<style scoped>

</style>
