<template>
    <table class="table table-hover">
    <thead>
        <tr>
        <th style="width: 5%" scope="col">#</th>
        <th style="width: 60%" scope="col">Title</th>
        <th style="width: 20%" scope="col">Tags</th>
        <th style="width: 15%" scope="col">Users</th>
        </tr>
    </thead>
    <tbody>

        <PostItem        
        v-for="(item, idx) in postInfo"
        :key="idx"
        v-bind:row ="item.roomId"
        v-bind:title="item.title"
        v-bind:tags="item.tag"
        />


    </tbody>
    </table>
</template>

<script>
import PostItem from '@/components/ThridPage/PostItem.vue'
export default{
    components:{
        PostItem
    },
    data(){
        return{
            row:1,
            title:"title",
            tags:"#tags",
            users:"test1 test2",
            postInfo:[]
        }
    },
    methods:{
        clickEvent(){
            console.log('click');
        },
        async getAllPostInfo(){
            let res = await this.axios.get('http://'+this.thirdServerIP+'/v1/allPostList')
            console.log(res.data)
            this.postInfo=res.data
        }
    },
    mounted(){
        this.getAllPostInfo();
    }
}

</script>

<style scoped>
.table{
    background-color:rgb(255,255,255);
}
</style>
