<template>
    <div>
        <div id="subBox">
            <TagInput class='tagBox' v-on:returnTags="changedTags"></TagInput>
            <button class="btn btn-primary" id="TagSearchBtn" >Tag검색</button>
            <button class="btn btn-success" id="questionCreateBtn" data-bs-toggle="modal" data-bs-target="#viewModal">질문 생성</button>
        </div>
        <Table/>
    </div>
</template>

<script>
import TagInput from '@/components/firstPage/TagInput.vue'
import Table from '@/components/ThridPage/PostTable.vue'
export default {
    components:{
        TagInput,
        Table
    },  
    props:[
        "userName"
    ],
    methods:{
        changedTags(tags){
            console.log(tags);
            this.tags=[];
            for(var i =0;i<tags.length;i++){
                console.log(tags[i].text);
                this.tags.push(tags[i].text)
            }
            console.log(this.tags);
        }
    },
    data(){
        return{
            tags:[],
        }
    }
}

</script>

<style scoped>
.btn{
  box-shadow: 2px 2px 2px 1px rgba(120, 120, 120, 1.0);
  margin:1%;
}
#subBox{
    display:flex;
}
.modal{
    width:100vw;
}
.btn{
    height:4.5vh;
}
</style>
