<template>
  <div style="margin:10px"
       v-for="(item,index) in comments"
       :key="index"
  >
      <InputGroup>
        <InputGroupAddon style="width: 200px">
          {{item.userName}}
        </InputGroupAddon>
        <Textarea style="width:100%" v-model="item.comments" autoResize rows="1" cols="30" disabled />
      </InputGroup>
    <p style="text-align: right; color:gray">{{item.modDate}}</p>
  </div>
</template>
<script>
import InputGroup from 'primevue/inputgroup';
import Textarea from 'primevue/textarea';
import InputGroupAddon from 'primevue/inputgroupaddon';
export default {
  components:{
    InputGroup,Textarea,InputGroupAddon
  },
  props:{
    contentUuid:{
      type:String,
      default:"uuid",
    },
    comment:{
      type:String,
      default:"comment",
    },
    userName:{
      type:String,
      default:"userName",
    }
  },
  mounted() {
    this.com=this.comment;
    this.getCommentData();
  },
  data(){
    return{
      com:null,
      comments:[],
    }
  },
  methods:{
    async getCommentData(){
      const res = await this.axios.get('http://'+this.thirdServerIP+'/comments',{
        params:{
          contentUuid:this.contentUuid,
        }
      });
      this.comments=res.data;
      console.log(res);
    }
  }
}

</script>
<style scoped>

</style>