<script>
import InputGroup from "primevue/inputgroup";
import InputGroupAddon from "primevue/inputgroupaddon";
import InputText from "primevue/inputtext";
import Textarea from "primevue/textarea";

export default {
  components: {Textarea, InputText, InputGroupAddon, InputGroup},
  props:{
    contentUuid:{
      type:String
    }
  },
  data(){
    return{
      comment:null,
      userName:null,
    }
  },
  methods:{
    async saveComment(){

      if(this.userName===null){
        alert('userName을 입력해주세요.');
        return;
      }

      const res = await this.axios.post('http://'+this.thirdServerIP+'/comments ',{
        commentUuid:"",
        userName:this.userName,
        parentUuid:this.contentUuid,
        comments:this.comment
      });
      if(res.status!==200){
        alert('저장에 실패했습니다.');
      }
      this.resetCommentView();
    },
    resetCommentView(){
      this.$emit('resetComment',true);
      this.init();
    },
    init(){
      this.comment=null;
      this.userName=null;
    }
  }
}
</script>

<template>
  <div style="margin:10px">
    <InputGroup>
      <InputGroupAddon>
        <i class="pi pi-user"></i>
      </InputGroupAddon>
      <InputText placeholder="Username" v-model="userName"/>
    </InputGroup>
    <Textarea style="width: 100%"  v-model="comment" autoResize rows="5" cols="30" placeholder="Comment"/>
    <button type="button" class="btn btn-light nav-link" style="display: flex; justify-content: right;" @click="saveComment">댓글 등록</button>
  </div>
</template>

<style scoped>

</style>