<template>
  <div class="flex flex-col gap-2" style="width:100%">
    <div>
      <IconField>
        <InputIcon class="pi pi-search" />
        <InputText style="width:100%" v-model="searchValue" placeholder="Search" @keyup.enter="search"/>
      </IconField>
    </div>
    <hr/>
    <h3> {{label}}</h3>
    <ContentItem
        v-for="(item,index) in contentList" :key="index"
        @goContent="goContent"
        :title = item.contentTitle
        :content = item.content
        :content-uuid=item.contentUuid
        :cate-uuid=item.cateUuid
    ></ContentItem>
    <Paginator :rows="pageSize" :totalRecords="totCount" @page="onPage($event)"></Paginator>
  </div>


</template>

<script>
import Paginator from 'primevue/paginator';
import IconField from 'primevue/iconfield';
import InputIcon from 'primevue/inputicon';
import InputText from 'primevue/inputtext';
import ContentItem from "@/components/fourthPage/components/ContentItem";
export default {
  name: "ContentsList",
  components:{
    ContentItem,
    IconField,InputIcon,InputText,Paginator
  },
  data(){
    return{
      searchValue:null,
      contentList:[],
      label:null,
      pageSize:5,
      page:0,
      totCount:0,
    }
  },
  created(){
    this.getContentsListByCate(0);
  },
  computed:{
    cateKey(){
      return this.$route.query.key;
    }
  },
  watch:{
    cateKey(){
      this.getContentsListByCate();
    }
  },
  methods:{
    search(){
      console.log(this.searchValue);
      this.getContentsListByCate(0);
    },
    goContent(contentUuid){
      console.log('list');
        this.$emit('goContent',contentUuid);
    },
    async getCateName(){
      const res = await this.axios.get('http://'+this.thirdServerIP+'/privatePosts/cate',{
        params:{
          cateUuid:this.$route.query.key,
        }
      });
      this.label = res.data.label;
    },
    async getContentsListByCate(page){
      this.contentList=[]
      const res = await this.axios.get('http://'+this.thirdServerIP+'/privatePosts/all-content-by-cate',{
        params:{
          cateUuid:this.$route.query.key,
          page:page,
          size:this.pageSize,
          title:this.searchValue
        }
      });
      console.log(res.data);
      for(let i of res.data.content){
        const content = i.content.substring(0,200)+'...';
        console.log(i.contentUuid);
        this.contentList.push({
          contentTitle:i.contentTitle,
          content:content,
          contentUuid:i.contentUuid,
          cateUuid:i.cateUuid,
        });
        this.totCount = res.data.totalElements;
      }
    },
    onPage(event){
      console.log(event);
      this.getContentsListByCate(event.page,);
      this.page = event.page;
    }
  }
}
</script>

<style scoped>
.container{
  display: flex;
}
.new{
  margin-left:auto;
}
</style>