<template>
  <Card style="background:white; color:black; margin-bottom: 5px">
    <template #title>{{title}}</template>
    <template #content>
      <p class="m-0" style= "word-wrap: break-word;">
        {{content}}
      </p>
    </template>
    <template #footer >
      <div style = "  display: flex; justify-content: flex-end;">
        <button type="button" class="btn btn-primary" @click="goContent">보기</button>
      </div>

    </template>
  </Card>
</template>

<script>
import Card from 'primevue/card';
export default {
  name: "ContentItem",
  components:{
    Card
  },
  props:{
    title:{
      type:String
    },
    content:{
      type:String
    },
    contentUuid:{
      type:String
    },
    cateUuid:{
      type:String
    }
  },
  methods:{
    goContent(){
      //this.$router.push('/PrivatePosting/content')
      console.log('contentKey');
      console.log(this.cateUuid);
      this.$router.push({name:'MarkDownViewer',query:{contentUuid:this.contentUuid,cateUuid:this.cateUuid}});
      console.log('item');
      this.$emit('goContent',this.contentUuid);
    }
  }
}
</script>

<style scoped>
.btn-primary{

  width: 10rem;
}
</style>