<template>
  <div v-if="isEdit">
    <IconField>
      <InputText style="width:100%" v-model=title placeholder="TITLE을 적어주세요."/>
    </IconField>
  </div>
  <MdEditor class="markdown" v-model="text" language='en-US' :previewTheme='previewStyle' @onUploadImg="onUploadImg"/>
  <button v-if="isEdit" type="button" class="btn btn-light new" @click="saveContent" style="margin-right:3px">SAVE</button>
</template>

<script>
import { MdEditor } from 'md-editor-v3';
import 'md-editor-v3/lib/style.css';
import 'md-editor-v3/lib/preview.css';
import IconField from "primevue/iconfield";
import InputText from "primevue/inputtext";
export default {
  name: "MarkDown",
  components: {
    MdEditor,IconField,InputText
  },
  props:{
    isEdit:{
      type:Boolean,
      default:false,
    },
    contentUuid:{
      type:String,
      default:null,
    },
    cateUuid:{
      type:String,
      default:null,
    },
    editTitle:{
      type:String,
    }
  },
  mounted() {
    console.log('mouted')
    console.log(this.contentUuid);
    if(this.contentUuid!==null)
      this.getContent();
  },
  data(){
    return{
      id:'preview-only',
      text:'test',
      scrollElement:document.documentElement,
      theme:'dark',
      previewStyle:'github',
      title:null,
    }
  },
  methods:{
    async saveContent(){
      if (this.title===null) {
        alert('제목을 작성해주세요.');
        return;
      }
      const res = await this.axios.post('http://'+this.thirdServerIP+'/privatePosts/content',{
        contentUuid:this.contentUuid,
        cateUuid:this.cateUuid,
        content:this.text,
        contentTitle:this.title,
      });

      if(res.status===200) {
        alert('저장 완료');
        console.log(res);
        this.$router.push({name:'ContentsList',query:{key:res.data.cateUuid}});
      }
    },
    async getContent(){
      const res = await this.axios.get('http://'+this.thirdServerIP+'/privatePosts/content',{
        params:{
          contentUuid:this.$route.query.contentUuid,
        }
      });
      this.title = res.data.contentTitle;
      this.text=res.data.content;
    },
    onUploadImg(files,callback){
      console.log(files);
      console.log(callback);
    }
  }
}
</script>

<style scoped>
.markdown{
  height:45em;
}
</style>