<template>
  <div>
    <div style="margin-top:5%; margin-bottom: 5%;">
      <h1 style="text-align: center;">{{title}}</h1>
      <p style="text-align: center; color:gray">수정일: {{modDate}}</p>
    </div>
    <MdPreview :editorId="id" language='en-US' :modelValue="text" :previewTheme='previewStyle'/>
    <CommentViewer ref="commentViewer" :content-uuid="contentUuid"/>
    <CommentWrite :content-uuid="contentUuid" @resetComment="resetComment"/>
    <button type="button" class="btn btn-light new" @click="editContent" style="margin-right:3px">EDIT</button>
  </div>
</template>

<script>
import { MdPreview } from 'md-editor-v3';
import 'md-editor-v3/lib/style.css';
import 'md-editor-v3/lib/preview.css';
import CommentWrite from "@/components/fourthPage/components/CommentWrite.vue";
import CommentViewer from "@/components/fourthPage/components/CommentViewer.vue";

export default {
  name: "MarkDownViewer",
  components: {
    CommentViewer,
    CommentWrite,
    MdPreview,
  },
  data(){
    return{
      id:'preview-only',
      text:'test',
      scrollElement:document.documentElement,
      theme:'dark',
      previewStyle:'github',
      title:null,
      modDate:null,
      comment:null,
      userName:this.$store.getters.getUserName,
    }
  },
  created(){
    this.getContentDetail();
  },
  computed:{
    contentUuid(){
      return this.$route.query.contentUuid;
    }
  },
  watch:{
    contentUuid(){
      this.getContentDetail();
    }
  },
  methods:{
    async getContentDetail(){
      console.log(this.$route.query.contentUuid);
      const res = await this.axios.get('http://'+this.thirdServerIP+'/privatePosts/content',{
        params:{
          contentUuid:this.$route.query.contentUuid,
        }
      });
      console.log(res.data);
      this.text = res.data.content;
      this.title = res.data.contentTitle;
      this.modDate = res.data.modDate;
    },
    editContent(){
      console.log('edit');
      this.$router.push({name:'WriteContents',query:{
          cateUuid:this.$route.query.cateUuid,
          contentUuid:this.contentUuid,
          editTitle:this.title
        }});
    },
    resetComment(reset){
      console.log(reset);
      if(reset===true)
        this.$refs.commentViewer.getCommentData();
    }
  }
}
</script>

<style scoped>

</style>