<template>
  <div>
    <MarkDown :is-edit=true :cate-uuid=cateUuid :content-uuid=contentUuid :editTitle=editTitle></MarkDown>
  </div>
</template>

<script>
import MarkDown from "@/components/fourthPage/components/MarkDown";
export default {
  name: "WriteContents",
  components: { MarkDown},
  computed:{
    cateUuid(){
      return this.$route.query.cateUuid;
    },
    contentUuid(){
      return this.$route.query.contentUuid;
    },
    editTitle(){
      return this.$route.query.title;
    }
  }
}
</script>

<style scoped>

</style>