<script>
import TagInput from '@/components/firstPage/TagInput.vue';
export default {
    components:{
        TagInput
    },
    data(){
        return{
            content:'',
            title:'',
            tags:[]
        }
    },
    watch:{
        content(){
            console.log(this.content)
            this.$emit('questionSource',this.content);
        },
        title(){
            console.log(this.title)
            this.$emit('questionTitle',this.title);
        }
    },
    methods:{
        changedTags(tags){
            this.$emit('getTags',tags);
        }
    }
}

</script>


<script setup>
import { ref } from 'vue';
import { VMarkdownEditor } from 'vue3-markdown';
import 'vue3-markdown/dist/style.css';

const content = ref('');
const handleUpload = (file) => {
  console.log(file);
  return 'https://i.postimg.cc/52qCzTVw/pngwing-com.png';
};
</script>



<template>
    <div class="input-group input-group-lg">
        <span class="input-group-text" id="inputGroup-sizing-lg">TITLE</span>
        <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg" v-model="title">
    </div>
    <TagInput v-on:returnTags="changedTags"></TagInput>
    <VMarkdownEditor
        v-model="content"
        locale="en"
        :upload-action="handleUpload"
    />
</template>

<style>

</style>
