<template>
    <div class="accordion" id="accordionExample">
        <div
        v-for="(item, idx) in itemList"
        :key="idx"
        >
            <QuestionItem v-bind:title="item.title" v-bind:context="item.context" v-bind:roomId="item.roomId" v-bind:userName="item.mkUser" v-bind:viewBtn="true"></QuestionItem>
        </div>
    </div>
</template>

<script>
import QuestionItem from './QuestionItem.vue'

export default {
    components:{
        QuestionItem,
    },
    props:[
        "itemList"
    ],
    data(){
        return{
            title:"title Test",
            context:"context Test",
            items:[]
            /*
            itemList:[
                {
                    title:"title",
                    roomId:10,
                    mkUser:"sangyub"
                },
                {
                    title:"title 1123",
                    context:"context 123",
                    roomId:11,
                    mkUser:"sangyub 1234"
                }
            ]*/
        }
    }
}

</script>


<style scoped>

</style>
