<template>
    
    <div class="accordion-item">
        <h2 class="accordion-header" id="panelsStayOpen-headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" v-bind:data-bs-target="btnId" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                <strong>{{title}}</strong>
            </button>
        </h2>
        <div v-bind:id="divId" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
            <Markdown style="text-align:left;" :source="context"/>
            <!--
            <div class="accordion-body">
                {{context}}
            </div> -->
            <button v-if="viewBtn" class="btn float-end btn-primary" v-on:click="moveChat">채팅창으로</button>
        </div>
    </div>

</template>

<script>

import Markdown from 'vue3-markdown-it';
import 'highlight.js/styles/monokai.css';
export default {
    components:{
        Markdown
    },
    props:[
        "title",
        "context",
        "roomId",
        "mkUser",
        "viewBtn"
    ],
    data(){
        return{
            divId:'item'+this.roomId,
            btnId:'#item'+this.roomId,
            source: '# Heelo World!'
        }
    },
    methods:{
        moveChat(){
            console.log(this.roomId);
            this.$router.push({name:'firstPage',params:{roomId_prop:this.roomId,type:'answer'}});
        }
    }
        
}


</script>

<style scoped>
.btn{
    display: flex;
    justify-content: space-between;
}
</style>
