<template>
    <div>
        <div id="subBox">
            <TagInput class='tagBox' v-on:returnTags="changedTags"></TagInput>
            <button class="btn btn-primary" id="TagSearchBtn" v-on:click="searchTags" >Tag검색</button>
            <button class="btn btn-success" id="questionCreateBtn" v-on:click="createQuestion" data-bs-toggle="modal" data-bs-target="#createModal">질문 생성</button>
        </div>
        <QuestionList class="questions" v-bind:itemList="itemList"></QuestionList>

        <!-- Modal -->
        <div class="modal fade" id="createModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-fullscreen">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                <div class="modal-body">
                    <Markdown v-on:questionSource="questionSource" v-on:questionTitle="questionTitle" v-on:getTags="getQTags"/>
                </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" @click="makeQuestion">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
        <v-tour name="SecondPageTour" :steps="steps"></v-tour>
    </div>
</template>

<script>
import QuestionList from './QuestionList.vue'
import TagInput from '@/components/firstPage/TagInput.vue'
import Markdown from './MarkDownEdit.vue'
export default {
    components:{
        QuestionList,
        TagInput,
        Markdown
    },  
    props:[
        "userName"
    ],
    methods:{
        createQuestion(){
            console.log("create Questions")

        },
        changedTags(tags){
            console.log(tags);
            this.tags=[];
            for(var i =0;i<tags.length;i++){
                console.log(tags[i].text);
                this.tags.push(tags[i].text)
            }
            console.log(this.tags);
        },
        searchTags(){
            console.log("searchTags");
            console.log(this.tags.length);
            if(this.tags.length ==0){
                this.getSearchItem();
            }else{
                this.getSearchItemByTags();
            }
        },
        makeQuestion(){
            console.log("make 질문")
            console.log(this.title)
            console.log(this.source)
            console.log(this.tagsQ)
            // room ID 가져오기
            this.axios.post('http://'+this.mainServerIP+'/searchRoomId',
                {
                    userName:this.userName,
                    whom:"question",
                    tags:this.tagsQ,
                    roomId:''
                }
            ).then(res=>{
                this.roomId = res.data.roomId;
                console.log('받은 Room ID '+this.roomId);

                //질문 등록하기

                this.axios.post('http://'+this.secondServerIP+'/v1/Question',{
                    title:this.title,
                    context:this.source,
                    roomId:this.roomId,
                    mkUser:this.userName,
                    tags:this.tagsQ

                }).then(
                    res=>{
                        console.log(res.data);
                        this.itemList=res.data;
                        console.log("change 화면 "+this.roomId);

                        this.$router.push({name:'firstPage',params:{roomId_prop:this.roomId,type:'question'}});
                    }
                ).catch(); 

            }).catch();


        },
        questionSource(source){
            console.log(source);
            this.source=source;
        },
        questionTitle(title){
            console.log(title);
            this.title=title;
        },
        getQTags(tags){
            this.tagsQ=[]
            console.log(tags);
            for(var i =0;i<tags.length;i++){
                console.log(tags[i]);
                this.tagsQ.push(tags[i].text)
            }

            console.log(this.tagsQ);


        },
        getSearchItem(){
            this.axios.get('http://'+this.secondServerIP+'/v1/questionList').then(
                res=>{
                    for(let i =0;i<res.data.list.length;i++)
                    {
                        this.itemList.push(res.data.list[i])
                    }
                    console.log(this.itemList);
                }
            ).catch();
        },
        getSearchItemByTags(){
            console.log(this.tags);
            console.log(JSON.stringify(this.tags));
            this.axios.get('http://'+this.secondServerIP+'/v1/questionListByTags',
            { 
                params:{
                    tagList:this.tags
                }
            }).then(
                res=>{
                    console.log(res.data);
                    this.itemList=res.data;
                }
            ).catch();
        }
        
    },
    data(){
        return{
            itemList:[
            ],
            questions:'',
            soruce:'',
            title:'',
            roomId:'',
            tagsQ:[],
            tags:[],
            steps: [
                {
                    target: '.tagBox',  // We're using document.querySelector() under the hood
                    header: {
                    title: 'Tag 설정',
                    },
                    content: `Tag로 질문 게사판 검색<br/>
                    여러개 입력 가능하며 1개라도 맞으면 검색됩니다.<br/>
                    Tag 입력 후 Enter 필수`
                },
                {
                    target: '#TagSearchBtn',  // We're using document.querySelector() under the hood
                    header: {
                    title: 'Tag 검색',
                    },
                    content: `'검색' 버튼 클릭 시 검색 시작`
                },
                {
                    target: '#questionCreateBtn',  // We're using document.querySelector() under the hood
                    header: {
                    title: '질문 생성',
                    },
                    content: `질문을 생성하고 싶을 경우 클릭`
                },
                {
                    target: '.questions',  // We're using document.querySelector() under the hood
                    header: {
                    title: '질문 목록',
                    },
                    content: `검색된 질문 목록`,
                    params: {
                        placement: 'top' 
                    }
                }

                
            ]
        }
    },
    created(){
        this.getSearchItem();
    },
    mounted: function () {
        const sessionName= "SecondPageTour"
        if(this.$storage.getStorageSync(sessionName) == false || this.$storage.hasKey(sessionName) == false){
            this.$tours['SecondPageTour'].start()
        }
        this.$storage.setStorageSync(sessionName, true);       
        
    }
}

</script>

<style scoped>
.btn{
  box-shadow: 2px 2px 2px 1px rgba(120, 120, 120, 1.0);
  margin:1%;
}
#subBox{
    display:flex;
}
.modal{
    width:100vw;
}
.btn{
    height:4.5vh;
}
</style>
