<template>
  <div style="margin-bottom: 1em; margin-top: 1em;">

      <Button type="button" class="btn btn-light" @click="expandAll" style="margin-right: 0.5em;">
        펼치기
      </Button>

      <Button type="button" class="btn btn-light" @click="collapseAll">
        접기
      </Button>

    <button type="button" class="btn btn-primary" style="margin-left:3em" @click="goWrite">추가</button>

  </div>
  <Tree
      selectionMode="single"
      v-model:selectionKeys="selectedKey"
      v-model:expandedKeys="expandedKeys"
      :metaKeySelection="true"
      :value="nodes"
      :filter="true"
      filterMode="lenient"
      class="w-full md:w-[10rem]"
      @nodeSelect="onNodeSelect"
  ></Tree>
</template>

<script>
import Tree from "primevue/tree";

export default {
  name: "ContentTree",
  components:{
    Tree
  },
  data(){
    return{
      nodes:this.initNodes(),
      selectedKey:null,
      expandedKeys:{},
      selectedNode:null,
    }
  },
  mounted() {
    this.getAllTree();
  },
  methods:{
    initNodes() {
      console.log('dom')
      return [];
    },
    async onNodeSelect(node){
      this.selectedNode=node;
      if(this.selectedNode.leaf === true)
        this.$router.push({name:'ContentsList',query:{key:node.key,label:node.label}});
    },

    expandAll() {
      for (let node of this.nodes) {
        this.expandNode(node);
      }

      this.expandedKeys = {...this.expandedKeys};
    },
    collapseAll() {
      this.expandedKeys = {};
    },
    expandNode(node) {
      if (node.children && node.children.length) {
        this.expandedKeys[node.key] = true;

        for (let child of node.children) {
          this.expandNode(child);
        }
      }
    },
    goWrite(){
      console.log(this.selectedNode.key);
      if(this.selectedNode.leaf === true)
        this.$router.push({name:'WriteContents',query:{
            cateUuid:this.selectedNode.key,
            contentUuid:null,
            title:null
        }});
      else
        alert('하위 노드에서만 페이지 추가 가능합니다.');
    },
    async getAllTree(){
      const res = await this.axios.get('http://'+this.thirdServerIP+'/privatePosts/tree');
      this.nodes = res.data;
    }
  }
}
</script>

<style scoped>

</style>