<template>
  <div>
    <router-view> </router-view>
  </div>
</template>

<script>
export default {
  data(){
    return{
      isWrite:true,
      btnLabel:"NEW"
    }
  },
  methods:{
    goWrite(){
      if(this.isWrite===true ) {
        this.isWrite = false
        this.btnLabel="RETURN"
      }
      else{
        this.isWrite=true
        this.btnLabel="NEW"
      }
    },
    saveContent(){
      console.log('save');
    },
    goContent(){
      console.log('goConent');
    }
  }
}
</script>

<style scoped>
.modal-backdrop{
  z-index:0;
}
</style>