<template>
  <Splitter style="height: 830px">
    <SplitterPanel class="flex items-center justify-center" :size="25" :minSize="10">
      <ScrollPanel style="width: 100%;
                   height: 100%"
                  :dt="{
                    bar: {
                        background: '{Neutral.300}'
                    }
                  }"
      >
        <ContentTree></ContentTree>
      </ScrollPanel>
    </SplitterPanel>
    <SplitterPanel class="flex items-center justify-center" :size="75">
      <ScrollPanel style="width: 100%;
                   height: 100%"
                   :dt="{
                    bar: {
                        background: '{Neutral.300}'
                    }
                  }">
        <ContentMain></ContentMain>
      </ScrollPanel>
    </SplitterPanel>
  </Splitter>
  <!--
  <div class="container text-center" style="background:lightgray">
    <div class = "row">
      <div class="col-3">
        <div>
          <ContentTree></ContentTree>
        </div>
      </div>
      <div class="col" >
        <div>
          <ContentMain style="height: 800px"></ContentMain>
        </div>
      </div>
    </div>
  </div>-->
</template>

<script>
import ContentTree from "@/components/fourthPage/ContentTree";
import ContentMain from "@/components/fourthPage/ContentMain";
import Splitter from 'primevue/splitter';
import SplitterPanel from 'primevue/splitterpanel';
import ScrollPanel from 'primevue/scrollpanel';
export default {
  name: "FourthPage",
  components: {ContentMain, ContentTree,Splitter,SplitterPanel,ScrollPanel}
}
</script>

<style scoped>
.container{
  width: 100%;
  max-width: 1800px;
}
</style>