<template>
  <div id="app">
    <NavBar v-on:changedUserName="bindUserName"></NavBar>
    <router-view v-bind:userName="userName"></router-view>
  </div>
</template>

<script>

import NavBar from '@/components/basicComponents/NavBar.vue'
export default {
  name: 'App',
  components:{
    NavBar
  },
  data(){
    return{
      userName:""
    }
  },
  methods:{
    bindUserName(value)
    {
      this.userName = value;
      
    }
  }
  
}
</script>

<style scoped>
#app{
  background-color:rgb(242,242,242);
  height:110%;
}

</style>